<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PATIENT</title>

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header>
        <a href="#" class="logo"><span>Patient</span>Management</a>

        <ul class="navbar">
            <a routerLink="/dashboard">Dashboard</a>
            <a routerLink="/patient-management">Patients</a>
            <a routerLink="/doctors-management">Doctors</a>
            <li><a href="#">Username</a></li>
            

        </ul>
    </header>
</body>
</html>