*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: transparent;
    color: #181313;;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 9%;
    transition: all ease .45s;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:  1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: rgb(37, 26, 26);

}

.logo {
    color: #ee9898;;
    font-size: 41px;
    font-weight: 600;
}

.logo span {
    color: #663333;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1.1rem;
    font-weight: 500;
    color: #413636;
    margin: 0 25px;
    transition: all ease .50s;
}

.navbar a:hover {
    color: rgb(240, 181, 21);
}

.navbar a.active{
    color: rgb(240, 181, 21);
}

.menu-btn {
    background: linear-gradient(130.08deg, rgb(204, 252, 252) 0%, #f8b6b6 100%);
    box-shadow: 0px 20px 40px #c5bcbc70;
    border: 1px solid #f1e0e0;
    padding: 5px 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#menu-icon {
    font-size: 28px;
    margin-left: 10px;
    z-index: 6;
}

section {
    padding: 0 15%;
}
