<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Management System Dashboard</title>
  </head>
  <body>
    <div id="dashboard-container" style="margin-top: 100px">
      <div id="dashboard-content" class="card">
        <h1 *ngIf="session.admin">Welcome {{ session.admin.username }}</h1>
        <h1 *ngIf="session.user">Welcome {{ session.user.username }}</h1>
        <div id="dashboard-header">Patient Management System</div>
        <p>
          Welcome to the Patient Management System dashboard. This system helps
          you efficiently manage and track patient information, appointments,
          and medical records.
        </p>
        <p>
          Our Patient Management System is designed to enhance the efficiency of
          healthcare providers, <br />
          improve patient care, and contribute to the overall success of your
          practice. <br />
          Explore the navigation menu to discover the full range of features and
          unlock the potential of<br />
          seamless patient management.
        </p>
        <div>
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#form"
            *ngIf="session.user"
          >
            Book now!
          </button>
        </div>
      </div>

      <!-- <div id="dashboard-appointments" class="card">
      
      <p id="appointments-info">
        Cardiology:<br> <strong>Dr. Ernest Smith</strong>
            <td><button class="btn btn-primary" data-toggle="modal" data-target="#bookModal">Book Now</button></td>
        Psychology:<br> <strong>Dr. Annie Young</strong>
        <td><button class="btn btn-primary" data-toggle="modal" data-target="#bookModal">Book Now</button></td>
        Psychology:<br> <strong>Dr. Annie Young</strong>
        <td><button class="btn btn-primary" data-toggle="modal" data-target="#bookModal">Book Now</button></td>
     
    </div> -->
    </div>

    <form
      #f="ngForm"
      (ngSubmit)="onSubmit()"
      class="modal fade"
      tabindex="-1"
      id="form"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Patient Booking Form</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="Name form-floating mb-3">
            <input
              ngModel
              name="patient_name"
              type="text"
              class="form-control"
              id="Name"
            />
            <label for="floatingInput">Patient name:</label>
          </div>

          <div class="Age form-floating mb-3">
            <input
              ngModel
              name="patient_age"
              type="number"
              class="form-control"
              id="Age"
            />
            <label for="floatingInput">Patient age:</label>
          </div>

          <div class="Sex form-floating mb-3">
            <input
              ngModel
              name="patient_sex"
              type="text"
              class="form-control"
              id="Age"
            />
            <label for="floatingInput">Patient sex:</label>
          </div>

          <div class="Appointment form-floating mb-3">
            <input
              ngModel
              name="appointment"
              type="email"
              class="form-control"
              id="Appointment"
              placeholder="name@example.com"
              type="datetime"
            />
            <label for="floatingInput">Appointment</label>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </form>

    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 250px;
      "
    >
      <div id="card1-container">
        <div id="card-content" class="cards">
          <div id="card1-header"></div>
          <img
            src="https://www.pngitem.com/pimgs/m/111-1115353_doctor-images-png-transparent-female-doctor-png-png.png"
            alt="Card Image"
            style="width: 95%; max-width: 200px; height: 200"
            class="center"
          />
          <p>Dra. Annie Young</p>
          <p>Department of Cardiology</p>
          <p>Cardiologist</p>
        </div>
      </div>
      <div id="card2-container">
        <div id="card-content" class="cards">
          <div id="card2-header"></div>
          <img
            src="https://e7.pngegg.com/pngimages/95/620/png-clipart-doctors-and-nurses-doctors-and-nurses.png"
            alt="Card Image"
            style="width: 90%; max-width: 200px; height: 200"
            class="center"
          />
          <p>Dr. Ernest Smith</p>
          <p>Department of Psychology</p>
          <p>Psychologist</p>
        </div>
      </div>
      <div id="card3-container">
        <div id="card-content" class="cards">
          <div id="card3-header"></div>
          <img
            src="https://img.freepik.com/free-photo/front-view-young-female-doctor-white-medical-suit-with-stethoscope-smiling-white_140725-16521.jpg"
            alt="Card Image"
            style="width: 90%; max-width: 200px; height: 200"
            class="center"
          />
          <p>Dra. Janna Smith</p>
          <p>Department of Radiology</p>
          <p>Radiologist</p>
        </div>
      </div>
      <div id="card4-container">
        <div id="card-content" class="cards">
          <div id="card3-header"></div>
          <img
            src="https://img.freepik.com/free-photo/smiling-doctor-with-strethoscope-isolated-grey_651396-974.jpg"
            alt="Card Image"
            style="width: 90%; max-width: 200px; height: 200"
            class="center"
          />
          <p>Dr. John Doe</p>
          <p>Department of Oncology</p>
          <p>Oncologist</p>
        </div>
      </div>
    </div>
  </body>
</html>
