<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Management System Dashboard</title>
</head>
<body>

<div id="dashboard-container">
    <div id="dashboard-content" class="card">
        <div id="dashboard-header">Patient Management System</div>
        <p>
            Welcome to the Patient Management System dashboard. This system helps you efficiently manage and track patient information, appointments, and medical records.
        </p>
        <p>
            Use the navigation menu to explore different sections of the system and access relevant features.
        </p>
    </div>

     <div id="dashboard-appointments" class="card">
      <div id="appointments-header">Upcoming Appointments</div>
      <p id="appointments-info">
        Cardiology Department
            <td><button type="button" class="btn1" data-bs-toggle="modal" data-bs-target="#edit">Cardiologist, Dr.E.S</button></td>
        Pediatric Department
            <td><button type="button" class="btn1" data-bs-toggle="modal" data-bs-target="#edit">Cardiologist, Dr.E.S</button></td>
  </div>
</div>

<div id="card1-container">
    <div id="card-content" class="cards">
        <div id="card1-header">Card 1</div>
        <p>
            Welcome to the Patient Management System dashboard. This system helps you efficiently manage and track
        </p>
        <p>
            Use the navigation menu to explore different sections of the system and 
        </p>
    </div>
</div>
<div id="card2-container">
    <div id="card-content" class="cards">
        <div id="card2-header">Card 2</div>
        <p>
            Welcome to the Patient Management System dashboard. This system helps you efficiently manage and track
        </p>
        <p>
            Use the navigation menu to explore different sections of the system and 
        </p>
    </div>
</div>
<div id="card3-container">
    <div id="card-content" class="cards">
        <div id="card3-header">Card 3</div>
        <p>
            Welcome to the Patient Management System dashboard. This system helps you efficiently manage and track
        </p>
        <p>
            Use the navigation menu to explore different sections of the system and 
        </p>
    </div>
</div>
<div id="card4-container">
    <div id="card-content" class="cards">
        <div id="card4-header">Card 4</div>
        <p>
            Welcome to the Patient Management System dashboard. This system helps you efficiently manage and track
        </p>
        <p>
            Use the navigation menu to explore different sections of the system and 
        </p>
    </div>
</div>
</body>
</html>

