body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 200px;
  margin-left: 10px;
}

#dashboard-container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  height: 500px;
 
}

#dashboard-content .card,
#dashboard-appointments .card,
#dashboard-image .card {
  max-width: 100%;
}

#dashboard-header {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 20px;
}

#appointments-header {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}

#appointments-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#appointments-list li {
  margin-bottom: 5px;
}

#card1-container{
  display: flex;
  max-width: 300px;
  margin: 20px auto;
  height: 500px;
  margin-top: -229px;
  margin-left:  270px;
}
#card1-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cards {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 200px;
  margin-left: 10px;
}

#card1-container{
  display: flex;
  max-width: 293px;
  margin: 20px auto;
  height: 500px;
  margin-top: -229px;
  margin-left:  270px;
}
#card1-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cards {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 200px;
  margin-left: 10px;
}

#card2-container{
  display: flex;
  max-width: 293px;
  margin: 20px auto;
  height: 500px;
  margin-top: -520px;
  margin-left:  573px;
}
#card2-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cards {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 200px;
  margin-left: 10px;
}

#card3-container{
  display: flex;
  max-width: 293px;
  margin: 20px auto;
  height: 500px;
  margin-top: -520px;
  margin-left:  876px;
}
#card3-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cards {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 200px;
  margin-left: 10px;
}

#card4-container{
  display: flex;
  max-width: 293px;
  margin: 20px auto;
  height: 500px;
  margin-top: -520px;
  margin-left:  1180px;
}
#card4-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cards {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 200px;
  margin-left: 10px;
}

.btn1 {
  color: #ffffff;
  background-color: #328d41;
  padding: 1px;
  border-radius: 8px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: -10px;
  margin-right: -10px;
  }
