<p>patient-management works!</p>
<body>
  <table>
      <tr>
        <th><h4>ID</h4></th>
        <th><h4>Lastname</h4></th>
        <th><h4>Firstname</h4></th>
        <th><h4>Gender</h4></th>
        <th><h4>Age</h4></th>
        <th><h4>Birthdate</h4></th>
        <th><h4>Datehired</h4></th>
      </tr>
      <tr>
        <td>1</td>
        <td>James</td>
        <td>Lebron</td>
        <td>Male</td>
        <td>30</td>
        <td>1993-02-23</td>
        <td>2015-09-30</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jimmy</td>
        <td>Butler</td>
        <td>Male</td>
        <td>23</td>
        <td>2000-08-1</td>
        <td>2016-01-23</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Bryant</td>
        <td>Kobe</td>
        <td>Male</td>
        <td>22</td>
        <td>2001-08-24</td>
        <td>2019-05-21</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Lexi</td>
        <td>Davidson</td>
        <td>Female</td>
        <td>34</td>
        <td>1976-01-21</td>
        <td>2008-05-25</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Yoshi</td>
        <td>Canadar</td>
        <td>Male</td>
        <td>45</td>
        <td>1964-02-25</td>
        <td>2002-11-03</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Giovanni</td>
        <td>Rondiell</td>
        <td>Male</td>
        <td>23</td>
        <td>2000-12-25</td>
        <td>2022-06-21</td>
      </tr>
      <tr>
          <td>7</td>
          <td>Karyl</td>
          <td>Scarlett</td>
          <td>Female</td>
          <td>23</td>
          <td>2000-11-06</td>
          <td>2020-05-21</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Anthony</td>
          <td>Edward</td>
          <td>Male</td>
          <td>26</td>
          <td>1997-05-21</td>
          <td>2019-09-31</td>
        </tr>
    </table>
</body>
