*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  list-style: none;
  text-decoration: none;
}

.ag-format-container {
  width: 1400px;
  margin: 0 auto;
  padding-left: 4rem;
  margin-top: 20px;
}


body {
  background-color: transparent;
}
.ag-courses_box {
  display: --webkit-box;
  display: --ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: blur;
  backdrop-filter: blur(50px);
  height: 190px;

  overflow: hidden;

  position: relative;
  
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(8);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 20px;
  color: #251616;

  z-index: 2;
  position: relative;
}
.ag-courses-item_title:hover {
  color: #000;
  font-size: 40px;
}
.ag-courses-item_date-box {
  font-size: 25px;
  color: #ffffff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;
  font-size: 10px;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f37a71;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #328d41;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #fac3b0;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #d8b9f8;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #ff98d6;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #9a99fc;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

table {
  font-family: 'Rubik', sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding-left: 10rem;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
}

tr:nth-child(even) {
  background-color: transparent;
  backdrop-filter: blur(10px);
}


.btn {
  margin-inline: 10px;
  
}

// TABLE

.container {
margin-left: 260px;
padding-right: 10px;
margin-top: 200px;
}

.border {
padding: 10px;
}
.btn {
margin-left: 1px;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
}

.btn1 {
color: #ffffff;
background-color: #328d41;
padding: 1px;
border-radius: 8px;
padding-left: 6px;
padding-right: 6px;
margin-left: 2px;
margin-right: 2px;
}
.btn2 {
color: #ffffff;
background-color: #f9b234;
padding: 1px;
border-radius: 8px;
padding-left: 7px;
padding-right: 7px;
margin-left: 1px;
margin-right: 1px;
}
.btn3 {
color: #ffffff;
background-color: red;
padding: 1px;
border-radius: 8px;
padding-left: 7px;
padding-right: 7px;
margin-left: 1px;
margin-right: 1px;
}

.modal {
margin-left: 600px;
}
.modal-title {
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}
.btn-close {
margin-right: 10px;
}

.Name {
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
}
.Age {
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
}
.Admission {
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
}
.Discharged {
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
}
.cls {
color: #ffffff;
background-color: red;
padding: 1px;
border-radius: 8px;
padding-left: 7px;
padding-right: 7px;
margin-left: 1px;
margin-right: 3px;
margin-top: 10px;
margin-bottom: 10px;
}
.save {
color: #ffffff;
background-color: #328d41;
padding: 1px;
border-radius: 8px;
padding-left: 7px;
padding-right: 7px;
margin-left: 1px;
margin-right: 10px;
}