<!-- PATIENT -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <table>
    
        <tr>
          <th><h5>Name</h5></th>
          <th><h5>Age</h5></th>
          <th><h5>Sex</h5></th>
          <th><h5>Patient No.</h5></th>
          <th><h5>Admission Date</h5></th>
          <th><h5>Discharge Date</h5></th>
        </tr>
        <tr *ngFor="let patient of patients">
          <td> {{ patient.name}} </td>
          <td>{{ patient.age}}</td>
          <td>{{ patient.sex}}</td>
          <td>{{ patient.patientNumber }}</td>
          <td>{{ patient.admissionDate}}</td>
          <td>{{ patient.dischargedDate}}</td>
          <button type="button" class="btn1 mt-0 mb-0" data-bs-toggle="modal" data-bs-target="#edit">Edit</button>
          <button type="button" class="btn2 mt-0 mb-0" data-bs-toggle="modal" data-bs-target="#view">View</button>
          <button type="button" class="btn3 mt-0 mb-0" data-bs-toggle="modal" data-bs-target="#delete">Delete</button>
        </tr>
      </table>
        <button type="button" class="btn mt-0 mb-0" data-bs-toggle="modal" data-bs-target="#form"><h4>+</h4></button>

        <form #f="ngForm" (ngSubmit)="onSubmit()"  class="modal fade" tabindex="-1" id="form">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Patient's Form</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              
              <div class="Name form-floating mb-3">
                <input ngModel name="name" type="text" class="form-control" id="Name" placeholder="name@example.com">
                <label for="floatingInput">Name:</label>
              </div>

              <div class="Age form-floating mb-3">
                <input ngModel name="age" type="text" class="form-control" id="Age" placeholder="name@example.com">
                <label for="floatingInput">Age:</label>
              </div>

              <div class="PatientNo form-floating mb-3">
                <input ngModel name="gender" type="text" class="form-control" id="Age" placeholder="name@example.com">
                <label for="floatingInput">Sex:</label>
              </div>

              <div class="PatientNo form-floating mb-3">
                <input ngModel name="patientNumber" type="email" class="form-control" id="Age" placeholder="name@example.com">
                <label for="floatingInput">Patient Number:</label>
              </div>

              <div class="Admission form-floating mb-3">
                <input ngModel name="admissionDate" class="form-control" id="Admission" placeholder="name@example.com">
                <label for="floatingInput">Admission Date:</label>
              </div>

              <div class="Discharged form-floating mb-3">
                <input ngModel name="dischargedDate" class="form-control" id="Discharged" placeholder="name@example.com">
                <label for="floatingInput">Discharged Date:</label>
              </div>

              <div class="modal-footer">
                <button type="button" class="cls btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="save btn-primary">Save</button>
              </div>
            </div>
          </div>
        </form>

<!--DELETE MODAL-->
<div class="modal fade" tabindex="-1" id="delete">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="Discharged">
        <label class="delete"><h5>Are you sure want to Delete?</h5></label>
      </div>
      <div class="modal-footer">
        <button type="button" class="cls btn-secondary" data-bs-dismiss="modal">Yes</button>
        <button type="button" class="save btn-primary">No</button>
      </div>
    </div>
  </div>
</div>

<!-- VIEW MODAL -->
<div class="modal fade" tabindex="-1" id="view">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">View</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="Name">
        <label>Name:</label>
      </div>

      <div class="Age">
        <label>Age:</label>
      </div>

      <div class="Sex">
        <label>Sex:</label>
      </div>
      
      
      <div class="PatientNo">
        <label>Patient #:</label>
      </div>
     

      <div class="Admission">
        <label>Admission Date:</label>
      </div>

      <div class="Discharged">
        <label>Discharged Date:</label>
      </div>

      <div class="modal-footer">
        <button type="button" class="cls btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- EDIT MODAL -->
<div class="modal fade" tabindex="-1" id="edit">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Profile</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="Name form-floating mb-3">
        <input type="email" class="form-control" id="Name" placeholder="name@example.com">
        <label for="floatingInput">Name:</label>
      </div>

      <div class="Age form-floating mb-3">
        <input type="email" class="form-control" id="Age" placeholder="name@example.com">
        <label for="floatingInput">Age:</label>
      </div>
      <div class="PatientNo form-floating mb-3">
        <input type="email" class="form-control" id="Age" placeholder="name@example.com">
        <label for="floatingInput">Patient #:</label>
      </div>

      <div class="Admission form-floating mb-3">
        <input type="email" class="form-control" id="Admission" placeholder="name@example.com">
        <label for="floatingInput">Admission Date:</label>
      </div>

      <div class="Discharged form-floating mb-3">
        <input type="email" class="form-control" id="Discharged" placeholder="name@example.com">
        <label for="floatingInput">Discharged Date:</label>
      </div>

      <div class="modal-footer">
        <button type="button" class="cls btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="save btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>


  </div>
</body>
</html>
<BR>